#editor-container {
    width: 600px;
    margin: 0 auto;
}

#toolbar {
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#toolbar button {
    margin-right: 5px;
}

#editor {
    min-height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
}
#bold-btn{
    background-color:#222;
    color:white;
}
#italic-btn{
    background-color:#222;
    color:white;
}
#underline-btn{
    background-color:#222;
    color:white;
}
#bold-btn:hover{
    background-color:#fff;
    color:black;
}
#italic-btn:hover{
    background-color:#fff;
    color:black;
}
#underline-btn:hover{
    background-color:#fff;
    color:black;
}